.container {
    padding: 20px;
    display: grid;
    gap: 10px;
}

.header {
    background-color: #001529;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.formContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.tableGrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

@media (max-width: 1920px) {
    .tableGrid {
        grid-template-columns: auto;
    }
}

.tableBlock {
    background: #f0f2f5;
    border-radius: 8px;
}

.lists {
    display: flex;
    gap: 6px;
}