.header {
    animation: changeColor 10s infinite;
    transition: background-color 1s ease;
}

@keyframes changeColor {
    0% {
        background-color: #001529;
    }
    25% {
        background-color: #002A40;
    }
    50% {
        background-color: #004D73;
    }
    75% {
        background-color: #006494;
    }
    100% {
        background-color: #0086C3;
    }
}

.navList {
    display: flex;
    flex-direction: row;
}

.navList a {
    box-sizing: border-box;
    display: block;
    padding: 20px;
}

.navList a, a:link, a:visited {
    text-decoration: none;
    color: white;
}

.active {
    background-color: cadetblue;
    font-weight: bolder;
    text-decoration: underline !important;
}

.button {
    all:unset;
    box-sizing: border-box;
    color: white;
    height:100%;
    border-left:1px solid white;
    padding: 0 10px;
    font-weight: bolder;
    cursor:pointer;
}

.divider {
    flex-grow: 1;
}