.root {
    background-color: #001529;
    padding: 10px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;

}

.input {
    width: 300px;
    background:#FFF !important;
}
